:root {
  --color-primary: #0c4cac;
  --color-secondary: #f3f2f2;
  --color-secondary-dark: #151a24;
  --color-secondary-background: #6b6b6b;
  --color-secondary-light: #151a24d3;
  --font-color-dark: #fff;
  --font-color: #151a24b8;
  --font-color-unselected: #ccc;
}
