* {
  font-family: "Lato", sans-serif;
}


.fc {
  color: var(--font-color);
}

.fc-primary {
  color: var(--color-primary);
}

body {
    font-size: 16px;
    letter-spacing: 0.01em;
    font-weight: 400px;
    line-height: 2em;
    // font-family: 'Poppins', sans-serif;
    // font-family: "Noto Sans", sans-serif;
    font-family: "Lato", sans-serif;
    color: var(--font-color, #3d3d3d);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      padding: 0;
      margin: 0;
      font-weight: 400;
      line-height: 1.5em;
      color: var(--font-color, #1a1a1a);
    }

    h1, h2, h3, h4, h5 {
      font-family: 'Lato', sans-serif;
    }

    i {
      line-height: 0;
    }
  
    a {
      text-decoration: none;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }